In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.corr()['Outcome']

Pregnancies                 0.221898
Glucose                     0.466581
BloodPressure               0.065068
SkinThickness               0.074752
Insulin                     0.130548
BMI                         0.292695
DiabetesPedigreeFunction    0.173844
Age                         0.238356
Outcome                     1.000000
Name: Outcome, dtype: float64

In [7]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [8]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
X=df.drop('Outcome',axis=1)

In [10]:
y=df['Outcome']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=2)

In [13]:
# WE USE 'stratify' for similar proportions in both train
# and test data set.

In [14]:
# from sklearn.preprocessing import StandardScaler

In [15]:
# scaler=StandardScaler()

In [16]:
# X_train=scaler.fit_transform(X_train)

In [17]:
# X_test=scaler.transform(X_test)

In [18]:
from sklearn.svm import SVC

In [19]:
svc=SVC()

In [20]:
svc.fit(X_train,y_train)

SVC()

In [21]:
pred=svc.predict(X_test)

In [22]:
from sklearn.metrics import classification_report

In [23]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.77      0.95      0.85       100
           1       0.84      0.48      0.61        54

    accuracy                           0.79       154
   macro avg       0.81      0.72      0.73       154
weighted avg       0.80      0.79      0.77       154

In [24]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [25]:
svc=SVC(kernel='linear',probability=True)

In [26]:
svc.fit(X_train,y_train)
pred=svc.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.78      0.91      0.84       100
           1       0.76      0.52      0.62        54

    accuracy                           0.77       154
   macro avg       0.77      0.71      0.73       154
weighted avg       0.77      0.77      0.76       154

In [27]:
# Classification report for training data

In [28]:
X_train_pred=svc.predict(X_train)
print(classification_report(y_train,X_train_pred))

              precision    recall  f1-score   support

           0       0.80      0.89      0.84       400
           1       0.74      0.59      0.65       214

    accuracy                           0.78       614
   macro avg       0.77      0.74      0.75       614
weighted avg       0.78      0.78      0.78       614

In [29]:
# WILL BE CONSIDERED GOOD, GIVEN SMALL DATA SET

In [30]:
# HERE, MODEL IS PERFORMING ALMOST EQUAL IN BOTH TRAIN AND
# TEST DATA SET, SO IT SHOWS THAT WE ARE NEITHER UNDERFITTING
# NOR OVERFITTING.

In [31]:
# Predicting the result by given the required details.

In [32]:
input_data=(4,110,92,0,0,37.6,0.191,30)

In [33]:
# changing the input_data to numpy array

In [34]:
input_data_as_numpy_array=np.asarray(input_data)

In [35]:
# reshape the array as we are predicting for one instance

In [36]:
input_data_reshape= input_data_as_numpy_array.reshape(1,-1)

In [37]:
# Have to standradise

In [39]:
# standardise_data=scaler.transform(input_data_reshape)
standardise_data=input_data_reshape

In [40]:
print(standardise_data)

[[  4.    110.     92.      0.      0.     37.6     0.191  30.   ]]

In [41]:
pred=svc.predict(standardise_data)

C:\Users\sifta\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [42]:
pred

array([0], dtype=int64)

In [43]:
pred=svc.predict_proba(standardise_data)

C:\Users\sifta\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [44]:
pred

array([[0.76672521, 0.23327479]])

In [45]:
# saving the trained model

In [46]:
import pickle

In [47]:
filename='trained_model.sav'

In [48]:
pickle.dump(svc,open(filename,'wb'))
# wb: writing binary

In [49]:
# Loading the saved model

In [50]:
loaded_model=pickle.load(open('trained_model.sav','rb'))
# rb:reading binary

In [52]:
input_data=(4,110,92,0,0,37.6,0.191,30)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshape= input_data_as_numpy_array.reshape(1,-1)
prediction=svc.predict(input_data_reshape)
print(prediction)

[0]

C:\Users\sifta\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [53]:
# Through loaded model
input_data=(4,110,92,0,0,37.6,0.191,30)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshape= input_data_as_numpy_array.reshape(1,-1)
prediction=loaded_model.predict(input_data_reshape)
print(prediction)

[0]

C:\Users\sifta\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(